In [10]:
# ....................... Missing Data .................................
#Pandas  automatically fiiling the missing point in a data set with a null or NaN calue in general you can drop or fill these missing values
import numpy as np 
import pandas as pd
d= {'A1':[1,2,3,np.nan],'B1':[4,5,np.nan,np.nan],'C1':[6,7,8,9]}
dataf= pd.DataFrame(d)
dataf

    A1   B1  C1
0  1.0  4.0   6
1  2.0  5.0   7
2  3.0  NaN   8
3  NaN  NaN   9

In [3]:
# 1. to drop these NaN from the Dataframe using dropna() method which by default will drop any ROW (axis = 0)with one or more missing value: 
dataf.dropna()

    A1   B1  C1
0  1.0  4.0   6
1  2.0  5.0   7

In [4]:
# you can also set a threshhold for the number of missing values :
dataf.dropna(thresh=2)

    A1   B1  C1
0  1.0  4.0   6
1  2.0  5.0   7
2  3.0  NaN   8

In [17]:
# 2. to fill in those missing values we can use the fillna() method with any intended value you pass to it
dataf[['A1','B1']].fillna(value= dataf[['B1']].mean())

    A1   B1
0  1.0  4.0
1  2.0  5.0
2  3.0  4.5
3  NaN  4.5